.more {
  display: flex;
  padding: 14px 56px;
  border-radius: 10px;
  border: none;
  margin: 30px auto;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  color: #373737;
  cursor: pointer;
  background-color: #e7f9e9;
  box-shadow: 3px 3px 3px rgba(173, 216, 230, 0.582);
}